.salesPrintable{
   background-color: white;
}


.STable{
    border-color: #000;
}
.STableContainer table{
   margin-right: 30px;
   margin-left: 25px;
    position: relative;
    border-collapse: collapse; 
    margin-bottom: 10px;
    margin-top: 10px;
    width: 140vh;
    background-color: white;
    
 
}


.STableContainer tr{
   text-align: center;
   overflow: auto;
    border: 1px solid #000;  
     height: 20px;
    margin-top: 40px;
    border-inline-start-width: 0cap;
}


.STableContainer tr > td:first-child {
   font-weight: bold; 
   border: 1px solid #000;  
   width: 10px;
}
.STableContainer tr > th:first-child {
   font-weight: bold; 
   width: 10px;
   border: 1px solid #000000; 
   
}
.STableContainer tr > td:nth-child(2) {
   text-align: left;
   border: 1px solid #000; 
}



.STable{
   margin-top: -30px;
   height: auto;
   
}

.STable th{
   font-size: small;
   text-align: center;
   height: 25px;
   padding-top: 10px;
   /* border-inline-start-width: 0cap; */
}

.STable td {
   padding-top: 15px;
   border:1px solid black;
   -ms-text-size-adjust: auto;
  margin-bottom: -40px;
  margin-top: -10px;
  border-inline-start-width: 0cap;
 }

 .Inventorydownload button{
   margin-top: 10px;
   width: 800px;
   height: 50px;
   background-color: white;
   border-color: 2px solid aqua;
   
 }