header{
    position: sticky;
            top: 0;

}
.aboutAll {
    background-color: #007BBE;
    color: white;
    height: 50px;
    padding-top: 2px;
   padding-right: 30px;
   padding-bottom: 80px;
   padding-left: 80px;
   
 }
 
 .AboutTitle{
    float:right;
    font-size: 25px;
    margin-top: 20px;
    /* margin-right: -60px; */
    
 }

 .logoPic{
    margin-right:10px;
    margin-top: 5px;
    width: 75px;
    float:right;
    width: 60px;
    
 }

 .back-button {
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: #ffffff; /* Change the text color to your preferred color */
    background-color: #007BBE;
  }
  
/* dont erase kay mao ni p sa tanan P WHAHAHAHA */
p {
    margin: 0;
    line-height: 2;
    font-size: 15px;
    padding: 20px;
    margin: 20px;
    text-align: justify;
}
   

.HMap{
    color:#007BBE;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
   
}

.map-section{
    margin-left: 200px;
}

.footer{
    float: right;
    font-size: 30px;

   
}
.website{
    display: inline-block;
    color:#510de5;
text-decoration-style: double;


}

.map-section{
    margin-left: 200px;
}


.about{
    font-family: Arial, sans-serif;

}
.containerAbout {
    position: relative;
      width: 100%;
      height: 70vh;
      display: flex;
      text-align: left;
    
  }
  .aboutText{
    width: 50%;
    text-align: justify;
    font-family: Arial, sans-serif;
    margin-left: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
  .missionText{
    width: 90%;
    text-align: center;
    font-family: Arial, sans-serif;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-top: -20px;
  }
  .visionText{
    width: 90%;
    text-align: center;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
    margin-top: -20px;
    
  }
  .aboutpic{
    position: relative;
      width: 100%;
      height: 60vh;
  }
  .aboutpic2{
    width: 400px;
    height: 380px;
    float: right;
    position: relative;
   margin-top: -140px;
  }
  .text-overlayAbout{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.884); /* Adjust the opacity here */
    width: 100%;
    height: 70vh;
    padding: 100px;
    box-sizing: border-box;
    
  }
  
 .aboutH2 {
    margin: 0;
    font-size: 45px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 40px;
  }
  .aboutH3{
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  
  
  .boxAbout{
    text-align: center;
    padding-top: 10px;
    border: 1px solid #383636;
    border-radius: 8px;
    width: 500px;
    display: inline-block; /* Display boxes inline */
    margin: 0 10px;
    height: 250px;
    background-color: #fff;
  
  }
  .boxAbout2 {
    text-align: center;
    padding-top: 10px;
    border: 1px solid #383636;
    border-radius: 8px;
    width: 500px;
    margin: 0px 10px;
    height: 250px;
    float: right;
    background-color: #fff;
  }
  
  .icon-container {
    background-color: #8d8d8d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
  }
  
  .icon-container i {
    font-size: 24px;
    color: white;
  }
  

  
  .VMbox{
   display: inline-block;
   padding-left: 50px;
   padding-bottom: 10px;
   margin-top: -55px;
  
  }